<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sethcohen.javaforeveryone3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeScreen" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".Introduction"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".ConditionsAndLoops"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".Arrays"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".Achievements" />
        <activity android:name=".Profile" />
        <activity android:name=".MethodsAndRecursion"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".Algorithms"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".Strings"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="tests.CondAndLoopsTEST"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="tests.ArraysTEST"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="tests.MethodsAndRecursionTEST"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="tests.StringsTEST"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="tests.AlgorithmsTEST"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
    </application>

</manifest>